<div class="footer">
  <div class="container-fluid  p-0">
    <div class="row  g-0">
      <div class="col-md-6 bg-green music">
        <h5 class="sub-title">SPOTIFY</h5>
        <h4 class="title">校友會podcast,請各位老鐵追蹤、分享、按讚</h4>
        <a href="#" class="btn spotify_btn"
          onclick="window.open('https://open.spotify.com/show/5bebwejqd7PH0l9fPXFsDO?si=97abb0f3ed4541a1', '_blank')">TURN
          ON SPOTIFY</a>
      </div>
      <div class="col-md-6 bg-black music">
        <h5 class="sub-title">Google Drive</h5>
        <h4 class="title">高中照片</h4>
        <a href="#" class="btn spotify_btn">TURN ON DRIVE</a>
      </div>
    </div>
  </div>
</div>